{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Its loys{% endblock %}</title>

    {% include 'snippets/css.html'%}
    
    <style>
      {% block styles %}
      {% endblock %}
    </style>

    <!-- <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+PmSTsz/K68vbEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  </head>
  <body>
    {% if messages %}
      <div class="alert alert-warning">
        <div class="container">
          {% for message in messages %}
            {{ message }}<br/>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% block content %}
    {%  endblock %}

    <hr>
    <div class="container">
      <footer>
        <p>&copy; 2018 Loys blog, Inc.</p>
      </footer>
    </div> <!-- /container -->

    {% include 'snippets/js.html' %}

    <script>
    $(document).ready(function(){

      var $marketingModal = $("#signUpModal");
      var didDismissModal = false;
      var doShowMarketing = false;

      doShowMarketing = $(".leave-capture").attr('show') == 'true';
      console.log(doShowMarketing);

      $("body").mouseleave(function(){
        if (!didDismissModal && !doShowMarketing){
          $marketingModal.modal();
        };
      });

      $marketingModal.on("hidden.bs.modal", function(e){
        didDismissModal = true;
      });

      $(".join-form").submit(function(e){
        e.preventDefault();
        var this_ = $(this);
        var joinEmailAPIEndpoint = "{% url 'email-join' %}";
        var serialize = this_.serialize()
        console.log(serialize);

        $.ajax({
          method: "POST",
          data: serialize,
          url: joinEmailAPIEndpoint,
          success:function(data){
            console.log(data);
            //$(this).fadeOut();
            didDismissModal = true;
            $marketingModal,modal('hide');
            this_.parent().html("<p class='lead'>Success! Thanks for joining.</p>");
          },
          error:function(data){
            console.log("error");
            console.log(data);
            this_.find(".join-form-alert").fadeIn();
            this_.find(".join-form-error").text(data.responseJSON.email[0]);
            //$(".join-form-alert").fadeIn();
            //$(".join-form-error").text(data.responseJSON.email[0]);
          }
        });
      });
    });
  </script>

  {% include 'newsletter/snippets/modal.html' %}

    <!-- <script type="https:/ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"> -->

  </body>
</html>