{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    {% include 'snippets/css.html'%}
    <style>
      {% block styles %}
      {% endblock %}
    </style>

    <!-- <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+PmSTsz/K68vbEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  </head>
  <body>
    {% if messages %}
      <div class="alert alert-warning">
        <div class="container">
          {% for message in messages %}
            {{ message }}<br/>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% block content %}
    {%  endblock %}

    <hr>
    <div class="container">
      <footer>
        <p>&copy; 2018 Loys blog, Inc.</p>
      </footer>
    </div> <!-- /container -->

    {% include 'snippets/js.html' %}


    <script>
    $(".join-form").submit(function(e){
      e.preventDefault();
      console.log($(this).serialize());

      var joinEmailAPIEndpoint = "{% url 'email-join' %}";

      $.ajax({
        method: "POST",
        data: $(this).serialize(),
        url: joinEmailAPIEndpoint,
        success:function(data){
          console.log(data);
          //$(this).fadeOut();
          $(".join-form").parent().html("<p class='lead'>Success! Thanks for joining.</p>");
        },
        error:function(data){
          console.log("error");
          console.log(data);
          $(".join-form-alert").fadeIn();
          $(".join-form-error").text(data.responseJSON.email[0]);
        }
      });
    });
  </script>

    <!-- <script type="https:/ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"> -->

  </body>
</html>